body {
	display: flex;
	margin: 0;
	padding: 0;
}

header#sidebar {
	background: #F9F9F9;
	width: 25%;
}

nav {
	height: 100vh;
	display: fixed;
	top: 0;
	left: 0;
}

nav h1 {
	position: fixed;
	top:0;
	margin: 1.5em;
}

nav ul {
	position: fixed;
	bottom:0;
	margin: 1.5em;
}

main {
	width: 75%;
	background: yellow;
}

figure {
	background: cyan;
	width: 100%;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	display: block;
}

figcaption {
	margin: 0;
	padding: 0;
	font-size: 20px;
}

article.project {
	background: lightblue;
	padding: 1.25em;
}

	article.project header {
		display: flex;
		flex-wrap: wrap;
		background: mediumpurple;
	}

section#project-header-image {
	width: 100%;
	margin:0 0 1.25em 0;
}

section#project-summary {
	width: 100%;
	display:flex;
	gap:1.25em;
	margin: 0 0 1.25em 0;
}
	article.project div.project-client {
		width: 45%;
		background: darkred;
		margin:0; 
		padding:0;
	}
		article.project div.project-client h1 {
			font-size: 2em;
		}

	article.project div.project-role {
		width: 30%;
		background: springgreen;
	}

	article.project div.project-credits {
		width: 25%;
		background: darkorange;
	}




hr {
	margin: 0em 0;
	border: solid 5px black;
}

section.project-details {
	display: flex;
	flex-flow: row wrap;
	background: royalblue;
	margin: 1.25em 0 0 0;
}

	section.project-details div.project-images {
		width: 66.66%;
	}

	section.project-details div.project-description {
		width: 33.33%;
		box-sizing: border-box;
		padding: 0 1.25em;
		align-self: flex-start;
		position: sticky;
		top:0;
	}


aside#project-directory {
	width:100%;
	box-sizing: border-box;
	display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1.25em;
    padding: 1.25em;
    background: magenta;
}




/* specifically for home page on desktop */

div#home-project-directory {
	width:100%;
	box-sizing: border-box;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background: magenta;
}



div#home-project-directory.row1 {
	width:100%;
	box-sizing: border-box;
	display: grid;
    grid-template-columns: 1fr 1fr;
    gap:0 1.25em;
    padding: 1.25em 1.25em 0 1.25em;
    background: red;
}

div#home-project-directory.row2 {
	width:100%;
	box-sizing: border-box;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:0 1.25em;
    padding: 1.25em;
    background: darkgreen;
}


