body {
	display: flex;
	flex-flow: column wrap;
	margin: 0;
	padding: 0;
}

header#sidebar {
	position: fixed;
	background: #F9F9F9;
	width: 100%;
	z-index: 999;
	height: 10vh;
	top: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	background: cadetblue;
}

nav h1 {
	margin: 0 0 0 20px;
	padding: 0;
	background: red;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	gap: 1.25em;
	margin: 0em 1.25em 0 0;

}

nav ul li {
	background: deeppink;
	padding: 0em;
	list-style-type: none;
}

main {
	width: 100%;
	background: yellow;
	margin: 10vh 0 0 0;
}

figure {
	background: cyan;
	width: 100%;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	display: block;
}

figcaption {
	margin: 0;
	padding: 0;
	font-size: 20px;
}

article.project {
	background: lightblue;
	padding: 1.25em;
}

article.project header {
	display: flex;
	flex-wrap: wrap;
	background: mediumpurple;
}

section#project-header-image {
	width: 100%;
	margin:0 0 1.25em 0;
}





section#project-summary {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	gap:1.25em;
	margin: 0 0 1.25em 0;
}



div.project-client {
	width: 100%;
	background: darkred;
	margin:0; 
	padding:0;
}

div.project-client h1 {
	font-size: 2em;
	padding: 0;
	margin: 0;
}

div.project-role {
	width: 100%;
	background: springgreen;
}

div.project-credits {
	width: 100%;
	background: darkorange;
}



hr {
	margin: 0em 0;
	border: solid 5px black;
}

section.project-details {
	display: flex;
	flex-flow: column wrap;
	background: royalblue;
	margin: 1.25em 0 0 0;
}

section.project-details div.project-images {
	width: 100%;
}

section.project-details div.project-description {
	width: 100%;
	box-sizing: border-box;
	padding: 0 1.25em;
	align-self: flex-start;
}


aside#project-directory {
	width:100%;
	box-sizing: border-box;
	display: grid;
    grid-template-columns: 1fr;
    gap:1.25em;
    padding: 1.25em;
    background: magenta;
}


div#home-project-directory {
	width:100%;
	box-sizing: border-box;
	display: grid;
    grid-template-columns: 1fr;
    background: lightseagreen;
    padding: 1.25em;
}


@media (min-width: 810px) {
  body {
 	 color: red;	
  }
  
}
